<!doctype html>
<html>
<head>
</head>
<body>
hello world
<script src="{{ STATIC_URL }}scripts/jquery-1.9.1.min.js" type="Text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/csrfAjaxSetup.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $("body").append("==jquery loaded==");
    
    var data = {
                  title: "got dangit bobby",
                  description: "that boy ain't right",
                  date_time_raw: (new Date()).valueOf(), 
                  participants: [],
                  locations: [
                    {
                        lat: (Math.random()*2000)-1000,
                        lng: (Math.random()*2000)-1000,
                        link: "http://google.com",
                        friendly_name: "blar\"f"
                    }
                  ],
                  host: 12345
               };
    var editedData = {
        description: null, 
        // use null to indicate that you'd like to clear the participants list
        // (empty array doesn't work due to jquery not passing along empty 
        // data structures)
        //participants: null,
        //host: 67890,
        date_time_raw: (new Date()).valueOf(),
        locations: null
    };         
               
    $.ajax({
        url: 'create/event/',
        dataType: 'json',
        type: 'post',
        data: data,
        success: function(data){
            console.log('success', data);
            if ("error" in data){
                return;
            }
            var eid = data.eid;
            editedData.eid = eid;
            $.ajax({
                url: 'edit/event/',
                dataType: 'jsonp',
                type: 'get',
                data: editedData,
                success: function(data){ console.log('edit success', data) },
                error: function(data){ console.log('edit failure', data) }
            });
        },
        error: function(data){
            console.log('failure', data);
        }
    });
    
    /*
    var data = {
        uid: 100002448015520,
        first_name: "John",
        last_name: "Doe",
        prof_pic: "http://www.lefthandedtoons.com/toons/justin_treepeople.gif",
        //"https://www.google.com/images/srpr/logo4w.png",
        // "https://www.google.com/webhp?hl=en&tab=ww",
        // "https://dsf-djangosnippets.s3.amazonaws.com/img/logo.gif",
        //"http://upload.wikimedia.org/wikipedia/commons/a/a9/Example.jpg",
        participating: [],//[1],
        friends: []//[12345, 67890]
    };
    var editedData = {
        first_name: "Hank",
        last_name: "Hill",
        participating: null,
        friends: [],
        prof_pic: "http://wondermark.com/c/2013-04-02-926crook.gif"
    };
    
    $.ajax({
        url: '/create/user/',
        dataType: 'jsonp',
        type: 'get',
        data: data,
        success: function(data){
            console.log('success', data);
            if ("error" in data){
                console.log("create error:", data.error);
                return;
            }
            
            var uid = data.uid;
            editedData['uid'] = uid;
            $.ajax({
                url: "/edit/user/",
                dataType: 'jsonp',
                type: 'get',
                data: editedData,
                success: function(data){
                    console.log('edit success', data);
                },
                error: function(data){
                    console.log("edit failure", data);
                }
            });
          
        },
        error: function(data){
            console.log('failure', data);
        }
    });
    */
    
});
</script>
</body>
</html>